# Imports

In [1]:
import pandas as pd
from ast import literal_eval
import sqlite3

# Read in recipe csv

In [2]:
df = pd.read_csv("RAW_recipes.csv")
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

# Create a Database

In [3]:
conn = sqlite3.connect("RECIPE_DATABASE.db")

# Insert the recipes table into our database

In [4]:
df.to_sql('Original_Receipe_Table', conn)

ValueError: Table 'Original_Receipe_Table' already exists.

# Select Ingredients From Database

In [5]:
sql_string = 'SELECT DISTINCT ingredients FROM Original_Receipe_Table' 
df1 = pd.read_sql(sql_string, conn)
df1

                                              ingredients
0       ['winter squash', 'mexican seasoning', 'mixed ...
1       ['prepared pizza crust', 'sausage patty', 'egg...
2       ['ground beef', 'yellow onions', 'diced tomato...
3       ['spreadable cheese with garlic and herbs', 'n...
4       ['tomato juice', 'apple cider vinegar', 'sugar...
...                                                   ...
230470  ['celery', 'onion', 'green sweet pepper', 'gar...
230471  ['paprika', 'salt', 'garlic powder', 'onion po...
230472  ['hard-cooked eggs', 'mayonnaise', 'dijon must...
230473  ['butter', 'eagle brand condensed milk', 'ligh...
230474  ['granulated sugar', 'shortening', 'eggs', 'fl...

[230475 rows x 1 columns]

# Loop through to add all ingredient elements to a list

In [6]:
ingredientsraw = []
for element in df1:
    selection = df1.ingredients
    ingredientsraw.extend(selection)

Test this (note it is in string format)

In [7]:
ingredientsraw.pop()

"['granulated sugar', 'shortening', 'eggs', 'flour', 'cream of tartar', 'baking soda', 'vanilla extract']"

# Convert our list from a string list to tuples

In [8]:
ingredientsclean1 = [eval(ele) for ele in ingredientsraw]

In [9]:
ingredientsclean1.pop()

['butter',
 'eagle brand condensed milk',
 'light brown sugar',
 'sour cream',
 'egg',
 'extract',
 'nutmeg',
 'self-rising flour',
 'bisquick',
 'wooden popsicle sticks']

# Convert from list of tuples to normal list (with duplicates)

In [10]:
out = [item for t in ingredientsclean1 for item in t]

In [11]:
out[:10]

['winter squash',
 'mexican seasoning',
 'mixed spice',
 'honey',
 'butter',
 'olive oil',
 'salt',
 'prepared pizza crust',
 'sausage patty',
 'eggs']

# Get Unique Ingredients

In [12]:
uniqueingredients = list(set(out))

In [13]:
uniqueingredients[:10]

['kitchen twine',
 'salt and fresh pepper',
 'low-sodium stewed tomatoes',
 'green pumpkin',
 'arugula leaves',
 'yellow rice mix',
 'matzo cake crumbs',
 'pomelo fruit',
 'minute brown rice',
 'vegetable stock cube']

**How Many Unique Ingredients?**

In [14]:
print(len(uniqueingredients))

14942

**How Many Raw Ingredients**

In [15]:
print(len(out))

2089910

# Creation of Table of Fruits

In [16]:
with open('fruits.txt') as f:
    Fruit = [line.rstrip() for line in f]

In [17]:
def removedupe(x):
  return list(dict.fromkeys(x))
Fruitfinal = removedupe(Fruit)
Fruitfinal.sort()

In [18]:
len(Fruitfinal)

1499

# Creation of Table of Vegetables

In [19]:
with open('vegetables.txt') as f:
    Vegetables = [line.rstrip() for line in f]

In [20]:
Vegetablesfinal = removedupe(Vegetables)
Vegetablesfinal.sort()

In [21]:
len(Vegetablesfinal)

0

# Creation of Table of Proteins

In [22]:
with open('protein.txt') as f:
    Proteins = [line.rstrip() for line in f]

In [23]:
Proteinsfinal = removedupe(Proteins)
Proteinsfinal.sort()

In [24]:
len(Proteinsfinal)

3189

# Creation of Table of Grains

In [25]:
with open('grains.txt') as f:
    Grains = [line.rstrip() for line in f]

In [26]:
Grainsfinal = removedupe(Grains)
Grainsfinal.sort()

In [27]:
len(Grainsfinal)

2034

# Creation of Table of Dairy

In [28]:
with open('dairy.txt') as f:
    Dairy = [line.rstrip() for line in f]

In [29]:
Dairyfinal = removedupe(Dairy)
Dairyfinal.sort()

In [30]:
len(Dairyfinal)

1315

# Creation of Table of Other

In [31]:
with open('other.txt') as f:
    Other = [line.rstrip() for line in f]

In [32]:
Otherfinal = removedupe(Other)
Otherfinal.sort()

In [33]:
len(Otherfinal)

4664

# Write the cleaned and sorted file and copy to the one we are using

In [36]:
with open('otherfinal.txt', 'w') as f:
    for item in temp6:
        f.write("%s\n" % item)

# Find Ingredients Not Yet Included in Food Group Tables

In [38]:
def Diff(li1, li2):
    return (list(list(set(li1)-set(li2)) + list(set(li2)-set(li1))))
temp = Diff(uniqueingredients, Vegetables)
temp2 = Diff(temp, Fruit)
temp3 = Diff(temp2, Proteins)
temp4 = Diff(temp3, Grains)
temp5 = Diff(temp4, Dairy)
temp6 = Diff(temp5, Other)

**If 0 means we have all ingredients accounted for**

In [39]:
len(temp6)

2307

**Search for an ingredient that contains a certain word to add to corresponding table**

In [40]:
targetlist = [k for k in Proteins if 'chicken' in k]

In [41]:
targetlist

['andouille chicken sausage',
 'baby chicken',
 'baby chickens',
 'barbecued chicken',
 'betty crocker chicken helper chicken and herb rice',
 'blackened chicken seasoning',
 'boneless chicken',
 'boneless chicken breast',
 'boneless chicken breast half',
 'boneless chicken breast halves',
 'boneless chicken breasts',
 'boneless chicken thighs',
 'boneless skinless chicken',
 'boneless skinless chicken breast',
 'boneless skinless chicken breast half',
 'boneless skinless chicken breast halves',
 'boneless skinless chicken breasts',
 'boneless skinless chicken breasts in teriyaki sauce',
 'boneless skinless chicken cutlet',
 'boneless skinless chicken cutlets',
 'boneless skinless chicken legs',
 'boneless skinless chicken pieces',
 'boneless skinless chicken thighs',
 'boneless skinless smoked chicken breasts',
 'boneless skinned chicken breast',
 'boneless skinned chicken breasts',
 'breaded chicken cutlets',
 'breaded chicken nuggets',
 'breaded chicken patties',
 'breaded chicken tenders',
 'broiler chicken',
 'broiler chickens',
 'broiler-fryer chicken',
 'broiler-fryer chickens',
 'butter chicken paste',
 "campbell's chicken gumbo soup",
 "campbell's chicken soup",
 "campbell's condensed chicken broth",
 "campbell's cream of chicken sou",
 "campbell's cream of chicken soup",
 'canned chicken',
 'canned chicken breast meat',
 'canned chicken broth',
 'chicken',
 'chicken & herb classico rice-a-roni',
 "chicken a 'la king",
 'chicken ala king',
 'chicken and broccoli flavor rice-a-roni',
 'chicken and corn soup',
 'chicken and garlic rice',
 'chicken and herb couscous mix',
 'chicken and rice soup',
 'chicken and roasted garlic ravioli',
 'chicken and turkey sausage',
 'chicken and wild rice soup',
 'chicken and wild rice soup mix',
 'chicken back',
 'chicken backs and necks',
 'chicken bacon',
 'chicken base',
 'chicken bone',
 'chicken bones',
 'chicken bouillon',
 'chicken bouillon concentrate',
 'chicken bouillon cube',
 'chicken bouillon cubes',
 'chicken bouillon granule',
 'chicken bouillon granules',
 'chicken bouillon mix',
 'chicken breast',
 'chicken breast fillet',
 'chicken breast fillets',
 'chicken breast half',
 'chicken breast halve',
 'chicken breast halves',
 'chicken breast tenders',
 'chicken breasts',
 'chicken breasts marinated in tandoori paste',
 'chicken broth',
 'chicken broth soup',
 'chicken broth with roasted garlic',
 'chicken carcass',
 'chicken carcasses',
 'chicken chilli',
 'chicken chunks',
 'chicken coating mix',
 'chicken consomme',
 'chicken curry powder',
 'chicken cutlet',
 'chicken cutlets',
 'chicken drummettes',
 'chicken drumstick',
 'chicken drumsticks',
 'chicken fat',
 'chicken feet',
 'chicken fillet',
 'chicken fillets',
 'chicken flavor instant bouillon',
 'chicken flavor stuffing mix',
 'chicken flavored bullion cube',
 'chicken flavored bullion cubes',
 'chicken frankfurters',
 'chicken giblets',
 'chicken gizzard',
 'chicken gizzards',
 'chicken gravy',
 'chicken gravy mix',
 'chicken gumbo soup',
 'chicken halves',
 'chicken heart',
 'chicken hot dogs',
 'chicken in a biscuit crackers',
 'chicken leg',
 'chicken leg meat',
 'chicken leg quarter',
 'chicken leg quarters',
 'chicken legs',
 'chicken legs with thigh',
 'chicken legs-thighs',
 'chicken liver',
 'chicken livers',
 'chicken meat',
 'chicken mesquite marinade',
 'chicken mid-joint wings',
 'chicken mushroom soup',
 'chicken neck',
 'chicken parts',
 'chicken piece',
 'chicken pieces',
 'chicken portions',
 'chicken quarters',
 'chicken ravioli',
 'chicken rice pilaf mix',
 'chicken rice soup',
 'chicken rice-a-roni',
 'chicken salad',
 'chicken salt',
 'chicken sausage',
 'chicken scallops',
 'chicken schnitzels',
 'chicken seasoning',
 'chicken seitan strips',
 'chicken soup',
 'chicken soup base',
 'chicken soup powder',
 'chicken stew',
 'chicken stock',
 'chicken stock cube',
 'chicken stock cubes',
 'chicken stock paste',
 'chicken stock powder',
 'chicken stove top stuffing mix',
 'chicken strips',
 'chicken stuffing mix',
 'chicken tamales',
 'chicken taquitos',
 'chicken tenderloins',
 'chicken tenders',
 'chicken thigh',
 'chicken thigh fillet',
 'chicken thigh fillets',
 'chicken thigh pieces',
 'chicken thighs',
 'chicken wing sauce',
 'chicken wings',
 'chicken-apple sausages',
 'chicken-flavored vegetarian seasoning',
 'chicken-spinach sausages',
 'chili with chicken and beans',
 'chunk chicken',
 'commercial low-sodium chicken broth',
 'condensed chicken and wild rice soup',
 'condensed chicken broth',
 'condensed chicken broth with garlic & herbs',
 'condensed chicken gumbo soup',
 'condensed chicken vegetable soup',
 'condensed chicken with rice soup',
 'condensed cream of chicken soup',
 'condensed cream of chicken with herbs soup',
 'cooked boneless skinless chicken breast',
 'cooked boneless skinless chicken breasts',
 'cooked chicken',
 'cooked chicken breast',
 'cooked chicken breast half',
 'cooked chicken breast halves',
 'cooked chicken breast strips',
 'cooked chicken breasts',
 'cooked dark chicken meat',
 'cooked italian chicken breasts',
 'cooked white chicken meat',
 'cream of chicken and broccoli soup',
 'cream of chicken and mushroom soup',
 'cream of chicken dijon soup',
 'cream of chicken soup',
 'cream of chicken soup mix',
 'cream of roasted chicken with herbs soup',
 'creamy chicken verde soup',
 'crispy fried chicken skin and fat',
 'dark chicken meat',
 'de-fatted chicken broth',
 'de-fatted chicken stock',
 'deli chicken',
 'dry instant chicken broth',
 'extra-strong chicken broth',
 'fat free chicken broth',
 'fat free chicken gravy',
 'fat free low-sodium cream of chicken soup',
 'fat free sodium free chicken broth',
 'fat-free chicken broth',
 'fat-free cream of chicken soup',
 'fat-free gluten-free chicken stock',
 'fat-free low-sodium chicken broth',
 'franco-american chicken gravy',
 'free-range chicken',
 'fried chicken',
 'frozen chicken nibbles',
 'frozen chicken nuggets',
 'fryer chicken',
 'fryer chickens',
 'frying chicken',
 'frying chickens',
 'gluten-free chicken stock',
 'grilled chicken',
 'grilled chicken breast',
 'grilled chicken breast strips',
 'grilled chicken breasts',
 'ground chicken',
 'ground chicken breast',
 'healthy request cream of chicken soup',
 'herb-ox very-low-sodium chicken broth',
 'homemade chicken broth',
 'homemade chicken stock',
 'hormel fully cooked chicken breasts with gravy',
 'hot chicken broth',
 'hot chicken stock',
 'instant chicken bouillon',
 'instant chicken bouillon granules',
 'instant chicken broth',
 'instant chicken-flavored broth',
 'instant chicken-style consomme soup and seasoning mix',
 'italian chicken sausage',
 'knorr chicken bouillon',
 'lean chicken',
 'lean ground chicken',
 'light chicken broth',
 'lipton instant chicken soup mix',
 'low fat chicken in water',
 'low sodium chicken broth',
 'low sodium chicken stock powder',
 'low-fat chicken broth',
 'low-fat condensed cream of chicken soup',
 'low-fat low-sodium chicken and rice soup',
 'low-fat spicy chicken sausage',
 'low-sodium chicken bouillon cube',
 'low-sodium chicken bouillon cubes',
 'low-sodium chicken stock',
 'low-sodium condensed cream of chicken soup',
 'low-sodium instant chicken bouillon granules',
 'low-sodium low-fat chicken broth',
 'maggi chicken cubes',
 'mccormick white chicken chili seasoning mix',
 "mccormick's chicken stir-fry seasoning packet",
 'minced chicken',
 'montreal chicken seasoning',
 'montreal roasted garlic chicken seasoning',
 'morningstar farms meal starters chicken strips',
 'no-salt-added chicken broth',
 'no-salt-added chicken stock',
 'nonfat chicken broth',
 'organic free range fat free chicken broth',
 'oven-roasted deli chicken',
 'pasta roni chicken and brococoli with linguine',
 'perdue short cuts original roasted carved chicken breasts',
 'popcorn chicken',
 'premium chunk chicken',
 'progresso chicken broth',
 'raw chicken',
 'ready-to-serve chicken broth',
 'reduced-fat chicken broth',
 'reduced-fat cream of chicken soup',
 'reduced-fat reduced-sodium condensed cream of chicken soup',
 'reduced-sodium chicken broth',
 'reduced-sodium chicken flavor stuffing mix',
 'reduced-sodium cream of chicken soup',
 'reduced-sodium fat-free chicken broth',
 'refrigerated taco sauce with seasoned shredded chicken',
 'regular-strength chicken broth',
 'rich chicken broth',
 'roast chicken seasoning',
 'roasted chicken breast',
 'roasted chicken meat',
 'roasted deli chicken',
 'roasting chicken',
 'roasting chickens',
 'rotisserie-cooked chicken',
 'shredded chicken with barbecue sauce',
 'skinless chicken',
 'skinless chicken breast',
 'skinless chicken breast fillet',
 'skinless chicken breast half',
 'skinless chicken breast halves',
 'skinless chicken breasts',
 'skinless chicken drumsticks',
 'skinless chicken leg quarters',
 'skinless chicken legs',
 'skinless chicken piece',
 'skinless chicken pieces',
 'skinless chicken quarters',
 'skinless chicken thigh',
 'skinless chicken thighs',
 'skinless dark meat chicken',
 'smoked chicken',
 'smoked chicken and habanero sausage',
 'smoked chicken breast',
 'smoked chicken breasts',
 'sodium-free chicken broth',
 'sodium-free chicken flavor instant bouillon',
 'sodium-free chicken stock',
 'southwestern chicken strips',
 'southwestern-seasoned chicken breast',
 'spring chicken',
 'stewing chicken',
 'stove top low-sodium chicken stuffing mix',
 'sun-dried tomato chicken sausage',
 'swanson chicken broth',
 'sweet asian chicken chili sauce',
 'tomato bouillon with chicken flavor',
 'tyson fajita chicken strips',
 "uncle ben's chicken-flavored wild rice",
 'unsalted chicken stock',
 'vegan chicken',
 'vegan chicken bouillon powder',
 'vegan chicken broth',
 'vegan chicken seasoning',
 'vegetarian chicken bouillon cube',
 'vegetarian chicken bouillon cubes',
 'vegetarian chicken bouillon granules',
 'vegetarian chicken broth',
 'vegetarian chicken pieces',
 'vegetarian chicken soup mix',
 'vegetarian chicken stock',
 'vegetarian chicken strips',
 'vegetarian chicken substitute',
 'white chicken meat',
 'white chicken meat packed in water',
 'white meat chicken',
 'white-meat chicken quarters',
 'whole boneless chicken breast',
 'whole boneless chicken breasts',
 'whole boneless skinless chicken breast',
 'whole boneless skinless chicken breasts',
 'whole chicken',
 'whole chicken breast',
 'whole chicken breasts',
 'whole chickens',
 'whole skinless chicken breast',
 'whole skinless chicken breasts',
 'whole wheat chicken & herb couscous',
 'worcestershire sauce for chicken',
 "wyler's chicken bouillon cubes",
 'young roasting chickens']

## Putting Lists into Database

In [42]:
c = conn.cursor()

In [43]:
#Vegetables 
vegetabledf = pd.read_csv('vegetables.txt',header = None, names = ["Name"])

In [44]:
#Fruits
fruitdf = pd.read_csv("fruits.txt", header = None, names = ["Name"])
fruitdf.to_sql('Fruit', conn)

ValueError: Table 'Fruit' already exists.

In [45]:
# Protien 
protiendf = pd.read_csv("protein.txt", header = None, names = ['Name'])
protiendf.to_sql('Protien', conn)

ValueError: Table 'Protien' already exists.

In [46]:
# Dairy 
dairydf = pd.read_csv("dairy.txt", header = None, names = ['Name'])
dairydf.to_sql('Dairy', conn)

ValueError: Table 'Dairy' already exists.

In [47]:
# Other 
otherdf = pd.read_csv("other.txt", header = None, names = ['Name'])
otherdf.to_sql('Other', conn)

ValueError: Table 'Other' already exists.

# Grains

In [48]:
df3 = pd.read_csv('grains.txt', header = None, names = ['Name'])

In [49]:
df3

                                 Name
0     10 inch low-fat flour tortillas
1                       10" pie crust
2        10-inch  deep dish pie crust
3            10-inch baked pie shells
4              10-inch corn tortillas
...                               ...
2029           zatarain's yellow rice
2030                       ziti pasta
2031            zoom quick hot cereal
2032                   zwieback toast
2033            zwieback toast crumbs

[2034 rows x 1 columns]

In [50]:
df3.to_sql('Grains', conn)

In [51]:
df

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7

In [52]:
FinalData = df

In [53]:
f = FinalData.drop(columns = ['name', 'minutes','contributor_id', 'submitted', 'tags','nutrition','n_steps','steps', 'description','n_ingredients'])

In [54]:
f.explode('ingredients').reset_index(drop = True)

            id                                        ingredients
0       137739  ['winter squash', 'mexican seasoning', 'mixed ...
1        31490  ['prepared pizza crust', 'sausage patty', 'egg...
2       112140  ['ground beef', 'yellow onions', 'diced tomato...
3        59389  ['spreadable cheese with garlic and herbs', 'n...
4        44061  ['tomato juice', 'apple cider vinegar', 'sugar...
...        ...                                                ...
231632  486161  ['celery', 'onion', 'green sweet pepper', 'gar...
231633  493372  ['paprika', 'salt', 'garlic powder', 'onion po...
231634  308080  ['hard-cooked eggs', 'mayonnaise', 'dijon must...
231635  298512  ['butter', 'eagle brand condensed milk', 'ligh...
231636  298509  ['granulated sugar', 'shortening', 'eggs', 'fl...

[231637 rows x 2 columns]

In [55]:
temp_data = pd.DataFrame({'id': f['id'], 'ingredients' : f['ingredients']})

In [56]:
data = temp_data
ingredients = []
ids = []
for _, row in data.iterrows():
    identifier = row.id
    s = literal_eval(row[1])
    for ingredient in s:
        ingredients.append(ingredient)
        ids.append(identifier)
ingredient_to_cuisine = pd.DataFrame({
    "id": ids,
    "ingredient": ingredients})
ingredient_to_cuisine

             id         ingredient
0        137739      winter squash
1        137739  mexican seasoning
2        137739        mixed spice
3        137739              honey
4        137739             butter
...         ...                ...
2096577  298509               eggs
2096578  298509              flour
2096579  298509    cream of tartar
2096580  298509        baking soda
2096581  298509    vanilla extract

[2096582 rows x 2 columns]

In [57]:
ingredient_to_cuisine.to_sql('ingredient_to_ID', conn)

In [58]:
ingredient_to_cuisine.head()

       id         ingredient
0  137739      winter squash
1  137739  mexican seasoning
2  137739        mixed spice
3  137739              honey
4  137739             butter

# UI

In [1]:
from flask import Flask, render_template, request
from flask_debugtoolbar import DebugToolbarExtension

import logging

app = Flask(__name__)
app.config['DEBUG'] = True

def createInpTables():
    #option 1
    
    #option 2: parse through user input string and manually break up into v, p, g, d, f, o. First try o1
    
    #Create Input tables
    #NOTE may need to do magic to get vars v,p,g.. readable by below code
    #for veggies:
    in_veg_df = pd.read_csv(v, header = None, names = ['Name'])
    in_veg_df.to_sql('Input_Vegetables', conn)
    #for protein:
    in_pro_df = pd.read_csv(p, header = None, names = ['Name'])
    in_pro_df.to_sql('Input_Protein', conn)
    #for grains:
    in_grain_df = pd.read_csv(g, header = None, names = ['Name'])
    in_grain_df.to_sql('Input_Grains', conn)
    #for dairy:
    in_dairy_df = pd.read_csv(d, header = None, names = ['Name'])
    in_dairy_df.to_sql('Input_Dairy', conn)
    #for fruits:
    in_fruit_df = pd.read_csv(f, header = None, names = ['Name'])
    in_fruit_df.to_sql('Input_Fruits', conn)
    #for other:
    in_other_df = pd.read_csv(o, header = None, names = ['Name'])
    in_other_df.to_sql('Input_Other', conn)
    
    #executing query:
    sql_string_match = 'SELECT id FROM ingredient_to_ID, Input_Vegetables, Input_Protein, Input_Grains, Input_Dairy, Input_Fruits, Input_Other WHERE ingredient_to_ID.ingredient = Input_Vegetables OR ingredient_to_ID.ingredient = Input_Protein OR ingredient_to_ID.ingredient = Input_Grain OR ingredient_to_ID.ingredient = Input_Dairy OR ingredient_to_ID.ingredient = Input_Fruits OR ingredient_to_ID.ingredient = Input_Other GROUPBY id ORDER BY COUNT(*) DESC LIMIT 1'
    sql_match_df = pd.read_sql(sql_string_match, conn)
    sql_match_df.to_sql('Ingredient_Match', conn)
    #tried inner join here, other options being natural join, or just "," WHERE Original_Recipe_Table.id = Ingredient_Match.id
    sql_string_output = 'SELECT name, minutes, steps, n_ingredients FROM Original_Recipe_Table INNER JOIN Ingredient_Match ON id'
    output_df = pd.read_sql(sql_string_output, conn)
    output_df.to_sql('Output_Recipes', conn)
    
    return output_df


@app.route('/', methods=['GET', 'POST'])
def index():
    if request.method == 'POST':
        v = request.form.get('veggies')
        p = request.form.get('protein')
        g = request.form.get('grains')
        d = request.form.get('dairy')
        f = request.form.get('fruit')
        o = request.form.get('other')
        recipe_output = query(v, p, g, d, f, o) 
        return render_template('result.html', recipe_output=recipe_output)
    return render_template('index.html')


if __name__ == "__main__":
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3425: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

assume input looks something like this:
veggies=v1&veggies=v2&veggies=v3&veggies=v4&protein=p1&protein=p2&protein=p3&protein=p4&grains=g1&grains=g2&grains=g3&grains=g4

In [3]:
exit