# Imports

In [3]:
import pandas as pd
import sqlite3

# Read in recipe csv

In [5]:
df = pd.read_csv("RAW_recipes.csv")
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

# Create a Database

In [6]:
conn = sqlite3.connect("RECIPE_DATABASE.db")

# Insert the recipes table into our database

In [7]:
df.to_sql('Original_Receipe_Table', conn)

# Select Ingredients From Database

In [8]:
sql_string = 'SELECT DISTINCT ingredients FROM Original_Receipe_Table' 
df1 = pd.read_sql(sql_string, conn)
df1

                                              ingredients
0       ['winter squash', 'mexican seasoning', 'mixed ...
1       ['prepared pizza crust', 'sausage patty', 'egg...
2       ['ground beef', 'yellow onions', 'diced tomato...
3       ['spreadable cheese with garlic and herbs', 'n...
4       ['tomato juice', 'apple cider vinegar', 'sugar...
...                                                   ...
230470  ['celery', 'onion', 'green sweet pepper', 'gar...
230471  ['paprika', 'salt', 'garlic powder', 'onion po...
230472  ['hard-cooked eggs', 'mayonnaise', 'dijon must...
230473  ['butter', 'eagle brand condensed milk', 'ligh...
230474  ['granulated sugar', 'shortening', 'eggs', 'fl...

[230475 rows x 1 columns]

# Loop through to add all ingredient elements to a list

In [9]:
ingredientsraw = []
for element in df1:
    selection = df1.ingredients
    ingredientsraw.extend(selection)

Test this (note it is in string format)

In [10]:
ingredientsraw.pop()

"['granulated sugar', 'shortening', 'eggs', 'flour', 'cream of tartar', 'baking soda', 'vanilla extract']"

# Convert our list from a string list to tuples

In [11]:
ingredientsclean1 = [eval(ele) for ele in ingredientsraw]

In [12]:
ingredientsclean1.pop()

['butter',
 'eagle brand condensed milk',
 'light brown sugar',
 'sour cream',
 'egg',
 'extract',
 'nutmeg',
 'self-rising flour',
 'bisquick',
 'wooden popsicle sticks']

# Convert from list of tuples to normal list (with duplicates)

In [13]:
out = [item for t in ingredientsclean1 for item in t]

In [14]:
out[:10]

['winter squash',
 'mexican seasoning',
 'mixed spice',
 'honey',
 'butter',
 'olive oil',
 'salt',
 'prepared pizza crust',
 'sausage patty',
 'eggs']

# Get Unique Ingredients

In [15]:
uniqueingredients = list(set(out))

In [16]:
uniqueingredients[:10]

['dill weed',
 'dried apple',
 'frozen crinkle cut french fries',
 'pistachio nuts',
 'whole wheat sandwich wrap',
 'bourbon vanilla',
 'dried mint flakes',
 'deep dish pie shells',
 'goose fat',
 'duck breast halves']

**How Many Unique Ingredients?**

In [17]:
print(len(uniqueingredients))

14942

**How Many Raw Ingredients**

In [18]:
print(len(out))

2089910

# Creation of Table of Fruits

In [19]:
with open('fruits.txt') as f:
    Fruit = [line.rstrip() for line in f]

FileNotFoundError: [Errno 2] No such file or directory: 'fruits.txt'

In [20]:
def removedupe(x):
  return list(dict.fromkeys(x))
Fruitfinal = removedupe(Fruit)
Fruitfinal.sort()

NameError: name 'Fruit' is not defined

In [21]:
len(Fruitfinal)

NameError: name 'Fruitfinal' is not defined

# Creation of Table of Vegetables

In [ ]:
with open('vegetables.txt') as f:
    Vegetables = [line.rstrip() for line in f]

In [ ]:
Vegetablesfinal = removedupe(Vegetables)
Vegetablesfinal.sort()

In [ ]:
len(Vegetablesfinal)

# Creation of Table of Proteins

In [ ]:
with open('protein.txt') as f:
    Proteins = [line.rstrip() for line in f]

In [ ]:
Proteinsfinal = removedupe(Proteins)
Proteinsfinal.sort()

In [ ]:
len(Proteinsfinal)

# Creation of Table of Grains

In [ ]:
with open('grains.txt') as f:
    Grains = [line.rstrip() for line in f]

In [ ]:
Grainsfinal = removedupe(Grains)
Grainsfinal.sort()

In [ ]:
len(Grainsfinal)

# Creation of Table of Dairy

In [ ]:
with open('dairy.txt') as f:
    Dairy = [line.rstrip() for line in f]

In [ ]:
Dairyfinal = removedupe(Dairy)
Dairyfinal.sort()

In [ ]:
len(Dairyfinal)

# Creation of Table of Other

In [ ]:
with open('other.txt') as f:
    Other = [line.rstrip() for line in f]

In [ ]:
Otherfinal = removedupe(Other)
Otherfinal.sort()

In [ ]:
len(Otherfinal)

# Write the cleaned and sorted file and copy to the one we are using

In [ ]:
with open('otherfinal.txt', 'w') as f:
    for item in temp6:
        f.write("%s\n" % item)

# Find Ingredients Not Yet Included in Food Group Tables

In [ ]:
def Diff(li1, li2):
    return (list(list(set(li1)-set(li2)) + list(set(li2)-set(li1))))
temp = Diff(uniqueingredients, Vegetables)
temp2 = Diff(temp, Fruit)
temp3 = Diff(temp2, Proteins)
temp4 = Diff(temp3, Grains)
temp5 = Diff(temp4, Dairy)
temp6 = Diff(temp5, Other)

**If 0 means we have all ingredients accounted for**

In [ ]:
len(temp6)

**Search for an ingredient that contains a certain word to add to corresponding table**

In [ ]:
targetlist = [k for k in Proteins if 'chicken' in k]

In [ ]:
targetlist

## Putting Lists into Database

In [22]:
c = conn.cursor()

In [ ]:
#Vegetables 
vegetabledf = pd.read_csv('vegetables.txt',)

In [61]:
#Fruits
fruitdf = pd.read_csv("fruits.txt", header = None, names = ["Name"])
fruitdf.to_sql('Fruit', conn)

In [57]:
# Protien 
protiendf = pd.read_csv("protein.txt", header = None, names = ['Name'])
protiendf.to_sql('Protien', conn)

In [55]:
# Dairy 
dairydf = pd.read_csv("dairy.txt", header = None, names = ['Name'])
dairydf.to_sql('Dairy', conn)

In [56]:
# Other 
otherdf = pd.read_csv("other.txt", header = None, names = ['Name'])
otherdf.to_sql('Other', conn)

# Grains

In [46]:
df3 = pd.read_csv('grains.txt', header = None, names = ['Name'])

In [47]:
df3

                                 Name
0     10 inch low-fat flour tortillas
1                       10" pie crust
2        10-inch  deep dish pie crust
3            10-inch baked pie shells
4              10-inch corn tortillas
...                               ...
2029           zatarain's yellow rice
2030                       ziti pasta
2031            zoom quick hot cereal
2032                   zwieback toast
2033            zwieback toast crumbs

[2034 rows x 1 columns]

In [43]:
df3.to_sql('Grains', conn)